 /*
 ** Author : Mudit
 */

 html,body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}

core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

core-toolbar {
  height: 61.5px !important;
  color: white;
}

@media (min-width: 481px) {
  #tabs {
    width: 200px;
  }
  .container {
    width: 400px;
  }
}

#navheader {
  background-color: #56BA89;
}

#submit {
  font-size: 14px;
  padding-right: 15px;
  background: #526E9C;
  color: white;
  margin: 0.7em 3.29em 0 0 !important;
}

#map-canvas {
  padding: 20em;
  border: 1px solid #999;
}

#searchList {
  overflow: hidden;
  margin-top:30px;
}

#searchList div {
  padding: 10px;
  margin-top: 4px; 
  font-size:14px;
  margin-left:-45px !important;
  background: #ecf0f1;
  cursor: pointer;
}

#searchList div:hover {
  background: #BCC1C2;
}

#directions-panel {
  overflow: auto;
  margin-top: 20px;
  font-size: 13px;
}

paper-input-decorator {
  width: 100% !important;
}

input {
  font-size: 14px !important;
}

img.adp-marker {
  width: 21px !important;
  height: 32px !important;
}
